@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #161616;
    color: white;
    margin: 0;
    overflow-x: hidden;
  }

.container{
  /* background-color: blue; */
  width: 50%;
  margin: auto;
  /* margin-top: 150px; */
  padding-top: 50px;
}

.giphy-embed{
  position: absolute;
  z-index: -1;
  width: 100%;
}

#background-video{
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: auto;
}


.card{
  background-color: rgba(0, 0, 0, 0.808);
  padding: 40px;
  border-radius: 20px;
}

.card-header{
  text-align: center;
  font-size: 50px;
  font-family: 'Bebas Neue', sans-serif;
  color: orangered;
}


.card-body{
  font-family: 'Inter', sans-serif;
}

.card-title{
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 0;
  margin-bottom: 0;

}

.list-group-item{
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
}

.prompt-box{
  /* background-color: blue; */
  margin-top: 20px;
  padding-top: 0;
  
}

.form-container{
  /* width: 50%; */
  margin: auto;
  /* background-color: green; */
}

.form-container input{
  height: 30px;
  margin-left: 10px;
  font-weight: 900;
  padding-left: 10px;
}

.form-container label{
  font-size: 20px;
  font-weight: 700;
  color: orangered;
}

.form-container select{
  width: 38%;
  height: 30px;
  margin-left: 10px;
  font-weight: 900;
}

.mb-3{
  margin-top: 10px;
}

.text-center{
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}

.text-center .btn{
  margin: auto;
  height: 40px;
  width: 500px;
  cursor: pointer;
  background-color: rgb(187, 50, 0);
  color: white;
  border: 0;
  border-radius: 10px;
  margin-top: 20px;
}

.text-center .btn:hover{
  background-color: orangered;
}


